.booking-page {
    background-image: url('../../travel-guru-resource/Image/background.jpg');
    height: 935px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.booking-form-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 500px;
}