.place-name {
    position: relative;
    bottom: 50px;
    left: 20px;
    color: white;
}

.place-image {
    border-radius: 30px;
    filter: brightness(70%);
}

.active-place {
    border: 8px solid #F9A51A;
}

.inactive-place {
    border: 8px solid transparent;
}

@media only screen and (min-width: 1400px) and (max-width: 1600px) {
    .place-name {
        font-size: 20px;
    }
}